<?php
$AUTOCONFIG = array (
  'trusted_domains' => 
  array (
    0 => '{{ domain }}',
  ),
  'overwrite.cli.url' => 'http://{{ domain }}',
  # 'memcache.local' => '\\OC\\Memcache\\APCu',
  'htaccess.RewriteBase' => '/',
  'default_phone_region' => 'GB',
  'default_locale' => 'pt_BR',
);
