<?php
$CONFIG = array (
  'instanceid' => 'oc96uln63sw2',
  'passwordsalt' => 'aq+N924f7gFjd2sw+/n5uaZ0TLvGHe',
  'secret' => 'LE20B8nztYKFTVZU/ETDYkUwj6KxuD7Ifv+uQqwKyHdhYP2W',
  'trusted_domains' => 
  array (
    0 => '{{ domain }}',
  ),
  'datadirectory' => '/var/www/nextcloud/data',
  'dbtype' => '{{ db_type }}',
  'version' => '{{ nextcloud_verson }}',
  'overwrite.cli.url' => 'http://{{ domain }}',
  'dbname' => '{{ db_name }}',
  'dbhost' => '{{ db_hostname }}',
  'dbport' => '',
  'dbtableprefix' => 'oc_',
  'mysql.utf8mb4' => true,
  'dbuser' => '{{ nextcloud }}',
  'dbpassword' => '{{ nextcloud }}',
  'installed' => true,
  'log_type' => 'file',
  'logfile' => '/var/log/nextcloud.log',
  'logfilemode' => 0640,
  'loglevel' => 2,
  'syslog_tag' => 'Nextcloud',
);
