<?php
$CONFIG = array(
  'htaccess.RewriteBase' => '/',
  'default_phone_region' => 'GB',
  'default_locale' => 'pt_BR',
  'trashbin_retention_obligation' => 'auto',
  'versions_retention_obligation' => 'auto',
  'defaultapp' => 'files',
);